In [1]:
import pandas as pd
import pyarrow.parquet as pq
from time import time
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
parquet_reader = pq.ParquetFile('yellow_tripdata_2024-01.parquet')

In [8]:
# print(f"Le fichier yellow_tripdata_2024-01.parquet contient {parquet_reader.metadata.num_rows} lignes")
# print(f"Ces lignes sont classées en {parquet_reader.num_row_groups} groupes")
taxi2024 = parquet_reader.read_row_group(0).to_pandas().head()

In [9]:
taxi2024

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1,1.72,1,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1,1.80,1,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1,4.70,1,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1,1.40,1,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1,0.80,1,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [ ]:
print(pd.io.sql.get_schema(taxi2024,name='yellow_taxi_jan2024',con=engine))

In [13]:
# Nombre de lignes par groupe
chunk_size = 100000

# Nombre total de lignes
total_rows = parquet_reader.metadata.num_rows

num_groups = parquet_reader.num_row_groups

for i in range(num_groups):
    
    total_rows = parquet_reader.read_row_group(i).num_rows
    
    for start in range(0, total_rows, chunk_size):
        
        t_start = time()
        
        end = min(start + chunk_size, total_rows)  # Déterminer l'index de fin

        # Lire les lignes dans un DataFrame pandas
        chunk = parquet_reader.read_row_group(i).slice(start, end - start).to_pandas()

        # Traiter le chunk (par exemple, afficher les données)
        print(f"Chunk de lignes {start // chunk_size + 1}:")
        
        chunk.to_sql(name='yellow_taxi_jan2024',con=engine,if_exists='append')
        
        t_end = time()
        print('inserted another chunk..., took %.3f second' %(t_end - t_start))
        
    # Afficher le reste de la division euclidienne, si c'est applicable
    if total_rows % chunk_size != 0:
        print(f"Nombre de lignes restantes: {total_rows % chunk_size}")
        print(f"Groupe de lignes {i} chargé correctement! ")

Chunk de lignes 1:
inserted another chunk..., took 5.665 second
Chunk de lignes 2:
inserted another chunk..., took 5.405 second
Chunk de lignes 3:
inserted another chunk..., took 5.280 second
Chunk de lignes 4:
inserted another chunk..., took 5.576 second
Chunk de lignes 5:
inserted another chunk..., took 5.371 second
Chunk de lignes 6:
inserted another chunk..., took 5.287 second
Chunk de lignes 7:
inserted another chunk..., took 5.144 second
Chunk de lignes 8:
inserted another chunk..., took 5.391 second
Chunk de lignes 9:
inserted another chunk..., took 5.215 second
Chunk de lignes 10:
inserted another chunk..., took 5.451 second
Chunk de lignes 11:
inserted another chunk..., took 2.520 second
Nombre de lignes restantes: 48576
Groupe de lignes 0 chargé correctement!
Chunk de lignes 1:
inserted another chunk..., took 5.175 second
Chunk de lignes 2:
inserted another chunk..., took 5.091 second
Chunk de lignes 3:
inserted another chunk..., took 5.073 second
Chunk de lignes 4:
inserted another chunk..., took 5.231 second
Chunk de lignes 5:
inserted another chunk..., took 5.343 second
Chunk de lignes 6:
inserted another chunk..., took 5.231 second
Chunk de lignes 7:
inserted another chunk..., took 5.273 second
Chunk de lignes 8:
inserted another chunk..., took 5.068 second
Chunk de lignes 9:
inserted another chunk..., took 5.046 second
Chunk de lignes 10:
inserted another chunk..., took 5.064 second
Chunk de lignes 11:
inserted another chunk..., took 2.514 second
Nombre de lignes restantes: 48576
Groupe de lignes 1 chargé correctement!
Chunk de lignes 1:
inserted another chunk..., took 5.145 second
Chunk de lignes 2:
inserted another chunk..., took 5.104 second
Chunk de lignes 3:
inserted another chunk..., took 5.067 second
Chunk de lignes 4:
inserted another chunk..., took 5.037 second
Chunk de lignes 5:
inserted another chunk..., took 5.235 second
Chunk de lignes 6:
inserted another chunk..., took 5.046 second
Chunk de lignes 7:
inserted another chunk..., took 5.140 second
Chunk de lignes 8:
inserted another chunk..., took 4.728 second
Chunk de lignes 9:
inserted another chunk..., took 3.038 second
Nombre de lignes restantes: 67472
Groupe de lignes 2 chargé correctement!

In [ ]:
print(pd.io.sql.get_schema(taxi2024,name='yellow_taxi_Schema'))

In [ ]:
print(pd.io.sql.get_schema(taxi2024,name='yellow_taxi_Schema',con=engine))

In [24]:
taxi2024.head(n=0).to_sql(name='yellow_taxi_jan2029',con=engine,if_exists='replace')

1